body{
    font-family: 'Poppins', sans-serif;
    background-color: blueviolet;
}
.container{
    width : 95%;
    margin: 0 auto;
}
.text_center{
    text-align: center;
    padding: 10px;
}
#survey-form{
    background: var(--color-darkblue-alpha);

}